 table {
    width: 50%;
  }
  table tr td{
    padding: 10px;
    text-align: left;
  }

  .details
  {
    margin-left: auto;margin-right: auto;
  }
  .details-div
  {
    text-align: center;
  }
  div
  {
    color: white;
  }
  a
  {
    color: white;
  }
